<%- include('./partials/header.ejs')%>
    <div class = "content">
        <h3>Welcome to PC Part Picker.</h3> 
        <p>This is a place where you can trade your PC parts with others!.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
    